.container {
  overflow: hidden;
  height: 100svh;
  min-height: 100svh;
  width: 100%;
  position: relative;
  cursor: grab;
  touch-action: none;
  overscroll-behavior: none;

  @media (--large) {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease;
  }

  &__ui {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #fcfcfc;
    padding: 30px 0 10px 0;

    & button {
      background-color: transparent;
      font-size: 15px;
      color: white;
      width: 130px;
      background-color: transparent;

      @media (--large) {
        font-size: 20px;
        width: 250px;
      }

      @media (hover: hover) {
        &:hover {
          background-color: #fcfcfc83;
        }
      }
    }

    & h1 {
      font-size: 20px;
      font-weight: 100;
      text-align: center;
      line-height: 1;
      padding: 10px 30px;
      background-color: #fcfcfc;
      border-radius: 50px;
      border: 2px solid black;

      @media (--large) {
        font-size: 32px;
      }
    }
  }

  &__hotspot {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 3;

    &__ring {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      border: 5px solid white;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      animation: pvRingScale 1s ease-in-out infinite alternate both;

      &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: white;
        animation: pvRingScale 1s ease-in-out infinite alternate both;
      }
    }
  }
}

@keyframes pvRingScale {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.6;
  }
}
